/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Id]
      ,[Name]
      ,[Code]
      ,[Isactive]
      ,[CreationDate]
      ,[DepId]
  FROM [molaksat ].[dbo].[ALMOKARR]